@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh;  
  background-color: #010031;
  color: white;
}

#App {
  font-family: "Poppins";
  width: 60vw;
  text-align: center;
  margin:  auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

#settings {
  width: 100%;
}

.settings-panel {
  border: 5px solid white;
  border-radius: 12px;
  margin: auto;
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.settings-label {
  grid-column: 1/4;
  grid-row: 1;
  font-size: 20px;
}

.settings-dec {
  grid-column: 1;
  grid-row: 2;
}

.settings-value {
  grid-column: 2;
  grid-row: 2;
  font-size: 18px;
}

.settings-inc {
  grid-column: 3;
  grid-row: 2;
}

#clock {
  border: 5px solid white;
  width: 100%;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

#current-mode {
  font-size: 30px;
}

#time-left {
  font-size: 50px;
}

#buttons {
  display: flex;
  gap: 20px;
}